/* Design by http://www.dreamtemplate.com */

.slider {
	padding:0 0 16px;
	background:url(../images/slider_bg.gif) no-repeat center bottom;
}

.menu_nav {
	margin:0 auto;
	padding:0 140px;
	height:90px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:90px;
}
.menu_nav ul li {
	margin:0;
	padding:22px 16px 0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:13px 20px;
	font-size:15px;
	line-height:19px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
	background:#282828 url(../images/menu_bg.gif) repeat-x left top;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:#af2b2b url(../images/menu_a.gif) repeat-x left top;
}
.content {
	padding:0 0 16px;
}
.content_resize {
	margin:0 auto;
	padding:24px 20px;
	width:920px;
	background:#fff url(../images/content_bg.gif) repeat-y 670px top;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:620px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:0;
	font-size:25px;
	line-height:1.2em;
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:none;
}
.content .mainbar .article {
	margin:0 0 40px;
	padding:0;
}
.content .mainbar .post_content {
	float:right;
	width:420px;
}
.content .sidebar {
	padding:0;
	float:right;
	width:240px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:8px 0;
}
.content .sidebar h2 {
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a {
	color:#9a9a9a;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#3f3f3f;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#973232;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin-bottom:8px;
	padding:0 0 6px;
	color:#929292;
}
p.infopost a {
	padding:0 2px;
	color:#929292;
	text-decoration:underline;
}
p.infopost a.com {
	float:right;
	font-weight:normal;
	text-decoration:none;
	color:#929292;
}
p.infopost a.com:hover {
	text-decoration:underline;
}
a.rm {
	display:block;
	float:right;
	padding:3px 12px;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	background:#973232;
	text-transform:uppercase;
}
.content p.pages {
	margin:0;
	padding:0 0 24px;
	font-size:11px;
	color:#6d6d6d;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#973232;
	border:1px solid #973232;
}
.content p.pages a {
	color:#6d6d6d;
	background:#fff;
	border:1px solid #fff;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:#303030 url(../images/fbg_bg.gif) repeat left top;
	border-top:10px solid #282828;
	border-bottom:7px solid #181818;
}
.fbg_resize {
	margin:0 auto;
	width:960px;
	padding:24px 0;
}
.fbg h2 {
	color:#b6b6b6;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	background-color:#fff;
	border:none;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:270px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:310px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:296px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#6d6d6d;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#d75a5a;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#d75a5a;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#b6b6b6;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	float:left;
	padding:0;
}
#formsearch {
	margin:0;
	padding:16px 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:172px;
	font-size:12px;
	line-height:14px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:#fff;
}
.footer_resize {
	margin:0 auto;
	padding:12px 0;
	width:960px;
	line-height:1.5em;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#973232;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#973232;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
