.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;
    right: auto;  
}
.olLayerGoogleV3.olLayerGoogleCopyright {
    bottom: 0px;
    left: 10px !important;
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 12px;   
}
.olLayerGoogleV3.olLayerGooglePoweredBy {
    bottom: 0px !important;
}

